name: Playwright Tests

on:
  push:
  branches: [ "main" ]
  pull_request:
  branches: [ "main" ]

jobs:
  test:
  timeout-minutes: 60
  runs-on: ubuntu-latest

  steps:
  - uses: actions/checkout@v4

  - uses: actions/setup-python@v5.1.0
    with:
    python-version: "3.11"

  - name: Install dependencies
    run: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
    python -m playwright install --with-deps

  - name: Run tests
    run: pytest test_kadai.py --tracing=retain-on-failure

  - uses: actions/upload-artifact@v4
    if: always()
    with:
    name: playwright-traces
    path: test-results/
